<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Tranzip</title>

    <!-- Bootstrap core CSS -->
    <link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles-->
    <link href="/css/main_style.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9] -->
</head>

<body data-spy="scroll" data-offset="0" data-target="#theMenu">

<!-- We want to always preserve the same map that was originally loaded-->
<div id="googlemaps"></div>


<div id="wrapsEverything">

    <nav class="navbar mainNav container-fluid">

        <% if (!loggedIn) { %>
        <div class="col-xs-2">
            <a href="/admin" class="signIn adminButtonNav">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span class="hidden-sm hidden-xs">Admin</span>
            </a>
        </div>
        <% } else { %>
        <div class="col-xs-2">
            <a href="/admin/logout" class="signIn adminButtonNav">
                <i class="fa fa-lock" aria-hidden="true"></i>
                <span class="hidden-sm hidden-xs">Sign Out</span>
            </a>
        </div>
        <% } %>
        <div class="navBrand col-xs-8">
            <a href="/">
                <img alt="tranzip Brand" src="img/tranzipNavLogo.png">
            </a>
        </div>
        <div class="col-xs-2">
            <a href="#" class="help">
                <i class="fa fa-question-circle" aria-hidden="true"></i>
                <span class="hidden-sm hidden-xs">Help</span>
            </a>
        </div>


    </nav>

    <!-- Menu -->

    <div class="container" id="headerwrap">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">

                <div>

                    <img src="img/tranzipLogo.png">

                    <div class="container-fluid">
                        <form class="form" id="form" role="search">
                            <div class="navSearch input-group">
                                <input type="text" id="search" class="form-control" placeholder="Type in your address here...">
                                <i id="search_button" class="searchButton fa fa-lg fa-search"></i>
                            </div>
                        </form>
                    </div>

                </div>      <!-- col-lg-12 col-md-8 col-sm-6 col-xs-4 -->


            </div><! --/row definition -->
        </div><! --/row -->
    </div><! --/container -->


    <div id="footer" class="hidden-xs navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-3">
                    <h6>CodeFusion &copy; 2017</h6>
                </div>
                <div class="col-sm-6">
                    <ul>
                        <li><a href="/about">About CodeFusion</a></li>
                        <li><a href="/report">Report a Problem</a></li>
                        <li><a href="/privacy" id="last">Privacy Policy</a></li>
                    </ul>
                </div>
                <div class="col-sm-3"></div>
            </div>
        </div>
    </div>
</div>

<div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog wideModal" role="document">
        <div class="modal-content">


            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="changingHeading"><h4 class="modal-title">Which school do you go to?</h4></div>
            </div>
            <div class="container modal-body">
                <div class="container" id="innerContent">

                    <% for (var i=0; i < schoolsInSystem.length; i++) { %>
                    <a onclick="requestRoute('<%= schoolsInSystem[i].name %>')">
                        <div class="panel-default">
                            <div class="panel-heading school-submit">
                                <i class="fa
                                <% if (schoolsInSystem[i].grade_range == 'elementary') { %>
                                fa-pencil
                                <% } else if (schoolsInSystem[i].grade_range == 'middle') { %>
                                fa-book
                                <% } else if (schoolsInSystem[i].grade_range == 'high') { %>
                                fa-graduation-cap
                                <% }%>
                                marginRight" aria-hidden="true"></i>

                                <%= schoolsInSystem[i].name %>

                                <i class="fa fa-arrow-circle-right pullRight" aria-hidden="true"></i>
                            </div>
                        </div>
                    </a>
                    <% } %>

                </div><! --/container -->
            </div>
            <nav class="navbar-fixed-bottom">
                <div class="loading container">
                    <img class="loader" src="img/default.svg">
                </div>
            </nav>


        </div><! --/modal content -->
    </div><! --/modal dialogue -->
</div><! --/modal -->

<script>
    <% if (message.length > 0) { %>
    alert('<%= message %>')
    <% } %>
</script>

<!-- JQuery -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<!-- Bootstrap-->
<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
<script src="/bootstrap/js/bootstrap.min.js"></script>

<!-- Animations -->
<script src="/scripts/home_animations.js"></script>

<!-- Script for client-side logic -->
<script type="text/javascript" src="/scripts/client_util.js"></script>
<script type="text/javascript" src="/scripts/map.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?libraries=places,geocoder&key=AIzaSyCMEZiWzR_Oe22ml8Rl1-BNzdEG5pCJO6s&callback=initMap" async defer></script>

</body>
</html>
