

#infowindowContainer {
    display: inline;
}

#newAddress {
    display: none;
}

#back {
    display: none;
}

#confirmationForm {
    display: none;
}

.changesAtAnotherSchool {
    display: none;
}

.howmany {
    display: none;
}

#edit {
    width: 100%;
}

#delete {
    width: 100%
}

